*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
}

.container{
    
    max-width: 1070px;
    margin: 0 auto;
}

.header, .footer{
    background:rgba(255, 113, 67, 0.27);
    padding: 38px 0 48px;
}

.header_flex, .about, .footer__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.nav_li{
display: inline-block;
}

.nav_li:not(:first-of-type){
    margin-left: 49px;
}

.nav_link{
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: -0.468947px;
    color: #696871;
    text-decoration: none;
}

.nav_link:hover{
    color: black;
    transition: 300ms;
}

.button{
    width: 212px;
    height: 60px;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button__orange{
    background: #FF7143;
}

.about{
    margin: 104px auto 85px;
}

.button__orange:hover{
    background: #f7490f;
    transition: 500ms;
}


.about_title{
    font-weight: bold;
    font-size: 80px;
    line-height: 77px;
    letter-spacing: -2.50105px;
    color: #19191B; 
    max-width: 467px;
    margin-bottom: 30px;
}

.about_text{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871;
    max-width: 410px;
    margin-bottom: 50px;
}

.button__violet{
    background: #5454D4;
}

.button__violet:hover{
    background: #9292df;
    transition: 500ms;
}

.button__transparent{
    background: #FFFFFF;
    color:#5454D4;
    border: 1px solid #5454D4;
    margin-left: 35px;
}

.button__transparent:hover{
    background: #d8d8e9;
    transition: 500ms;
}

.footer {
    background: rgba(255, 113, 67, 0.27);
    padding: 38px 0 48px;
}

.footer{
    padding: 53px 0;
}


